/* Color palete

--teal-blue: hsla(194, 77%, 31%, 1);
--black-coffee: hsla(340, 10%, 24%, 1);
--windsor-tan: hsla(28, 71%, 35%, 1);
--eerie-black: hsla(220, 5%, 11%, 1);
--red-pigment: hsla(0, 89%, 54%, 1);

*/